<div class="container-main">
  <section class="content contentbackground">
    <div class="row tableview">
      <div class="box box-primary" >
        <div class="box-header with-border">
          <h3 class="text-center">Edit Team</h3>
        </div>
        <%=form_for @team, url: team_path, method: :patch do |f| %>
          <div class="playerContainer">
            <div class="form-group">
              <%= f.label :name %><br>
              <%=f.text_field(:name, {:class=>'form-control'}) %>
            </div>
            <div class="submit-form">
              <%=f.submit({:class=>"btn btn-success"})%>
            </div>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </section>
</div>